################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A3P-1/A3P-1/Debug
/A3P-1/A3P-msg-view/Debug
/A3P-1/w32_tcp_socket_test/Debug
/A3P-1/Debug
*.user
/A3P-1/ipch
/A3P-1/A3P-device-simulator/Debug

A3P-1/A3P-1/Release/
A3P-1/A3P-cmd-console/Release/
A3P-1/A3P-device-simulator/Release/
A3P-1/A3P-msg-view/Release/
A3P-1/w32_tcp_socket_test/Release/

/.vs
/.vs
/.vs
/.vs/DevicesProtocols/v15
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs
/.vs
/.vs
/.vs
