################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A3P-1/A3P-1/Debug
/A3P-1/A3P-msg-view/Debug
/A3P-1/w32_tcp_socket_test/Debug
/A3P-1/Debug
*.user
/A3P-1/ipch
/A3P-1/A3P-device-simulator/Debug
/.vs
/A3P-1/.vs/A3P-1/v15
/CIUP/.vs/CIUP/v15
/CIUP/ciupClientTest-csc/obj/Debug
/CIUP/Debug
/CIUP/ciupClientDll/Release
/CIUP/ciupClientTest/Release
/CIUP/ciupClientTest-csc/obj/Release
/CIUP/ciupServer/Release/ciupServer.tlog
/CIUP/ciupServer/Release
/CIUP/ciupServerMaccorDll/Release
/CIUP/ciupServerMaccorDllTest/Release
/CIUP/Release
/CIUP/UnitTestCommon/Release
/CIUP/UnitTestServer/Release
/CIUP/w32_message_pipe_test/Release
/CIUP/w32_tcp_socket_test/Release
/CIUP/ciupClientDll/Debug
/CIUP/ciupClientTest/Debug
/CIUP/ciupServer/Debug
/CIUP/ciupServerMaccorDll/Debug
/CIUP/ciupServerMaccorDllTest/Debug
/CIUP/UnitTestCommon/Debug
/CIUP/UnitTestServer/Debug
/CIUP/w32_message_pipe_test/Debug
/CIUP/w32_tcp_socket_test/Debug
